

header, section {
    background-color: rgba(204, 204, 204, 0); /* Opdateret baggrundsfarve */
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(0, 0, 0);
}

h1, h2, h3 {
    color: #007bff; /* Opdateret overskriftfarve */
}

a {
    color: #007bff; /* Opdateret linkfarve */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

#CVImage1 {
    width: 200px;
    height: auto;
    filter: grayscale(100%);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border: 2px solid #cccccc; /* Opdateret kantfarve */
}
#CVImage1:hover {
    transform: scale(1.05);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}


